.hide{
    display: none;
}
/* quiz - utilites */
.question-display{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ques-direction{
    display: flex;
    gap: 5rem;
}
.question-wrap{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.result-area{
    padding: 1rem;
    min-height: 5rem;
    width: 100%;
    border: 5px solid var(--success-text-color);
    background-color: var(--success-color-light);
}
.result-area .btn-link{
    color: var(--fail-text-color);
}
@media only screen and (max-width: 800px) {
    .hide{
        display: block;
    }
  }